//*сендвич-меню*//
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  display: flex;
  align-items: baseline;
  z-index: 999;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $white-color;
    border-top: 1px solid #ececec;

    &.is-open {
      display: block;
    }
  }
  // @media screen and (min-width: $desktop) {
  //   justify-content: space-between;
  // }
}
