.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.section.no-padding-bottom {
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }
}
