$main-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$dark-background-main-color: rgba(255, 255, 255, 0.6);
$link-in-footer-color: rgba(255, 255, 255, 0.6);
$footer-footer-color: rgba(255, 255, 255, 0.4);
$white-color: #ffffff;
$footer-background: #2f303a;
$sec-bg-color: #f5f4fa;
