.features {
  // @extend %list;
  list-style: none;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

.features-item {
  @media screen and (min-width: $tablet) {
    max-width: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    max-width: calc((100% - 15px * 8) / 4);
    margin: 15px;
  }
}
.features :nth-child(2n) {
  @media screen and (min-width: $tablet) {
    margin-right: 0;
  }
}

// .features :last-child {
//   @media screen and (min-width: $tablet) {
//     margin-right: 0;
//   }
// }

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

.icon-features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

  margin-bottom: 30px;
  margin-right: 0;

  background-color: $sec-bg-color;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  // @media screen and (min-width: $tablet) {
  //   // padding-left: 15px;
  //   // padding-right: 15px;
  //   // margin-right: 0;
  // }
}
